<div class="text-layout">
  <h1>DecimalPipe y porcentajes</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common module</p>
</div>

<div class="p-grid">
  <div class="col-4">
    <p-card header="Ventas netas" subheader="del año presente">
      <i class="pi pi-dollar"></i>
      {{ventasNetas | number: '1.2-2'}}


    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ventas brutas" subheader="del año presente">
      {{ventasNetas + 2000000| currency:'ARS ':'symbol-narrow': '1.2-2'}}


    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ganancia porcentual" subheader="del año presente">
      {{porcentaje | percent}}


    </p-card>
  </div>
</div>
