<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common module</p>
</div>

<div class="grid">
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nSelect pipe" [toggleable]="true">
      <p>
        Saludos {{ nombre }} es un placer
        {{ genero | i18nSelect: objMap }}
      </p>
      <button
        pButton
        type="button"
        label="Cambiar cliente"
        (click)="cambiarCliente()"
        class="p-button-success"
      ></button>
    </p-fieldset>
  </div>
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nPlural pipe" [toggleable]="true">
      <p>Actualmente {{ clientes.length | i18nPlural: clientesMap }}</p>
      <button
        pButton
        type="button"
        label="Borrar cliente"
        (click)="borrarCliente()"
        class="p-button-danger"
      ></button>
    </p-fieldset>
  </div>
  <div class="p-col p-md-6">
    <p-fieldset legend="Slice pipe" [toggleable]="true">
      <b>
        Original
        <pre
          >{{ clientes }}
        </pre>
      </b>
      <b>
        slice:1:2
        <pre
          >{{ clientes | slice:1:2}}
        </pre>
      </b>
    </p-fieldset>
  </div>
  <div class="p-col p-md-6">
    <p-fieldset legend="KeyValue pipe" [toggleable]="true">
      <ul>
        <li *ngFor=" let item of persona | keyvalue">
          {{item.key}} - {{item.value}}

        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="json pipe" [toggleable]="true">
     <pre>
       {{heroes | json}}
     </pre>
    </p-fieldset>
  </div>
  <div class="p-col p-md-6">
    <p-fieldset legend="Async pipe" [toggleable]="true">
      <pre *ngIf="!(miObservable | async)"> Resolviendo observable
      </pre>
     <pre>
      {{miObservable | async}}
     </pre>
     <pre *ngIf="!(valorPromesa | async)"> Resolviendo promesa
    </pre>
   <pre>
    {{valorPromesa | async}}
   </pre>
    </p-fieldset>
  </div>


</div>
